.text-writer {
    color: #ffb094;
}

.h1 {
    margin-bottom: 0;
}

.coding-image {
    max-width: 100%;
    height: 550px;
    margin: auto;
    border-radius: 25px;
}

@media (max-width:600px) {
    .coding-image {
        height: 350px;
    }

    .text-writer, .about {
        text-align: center;
    }

    .resume-btn {
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .skill-div, .skill-text {
        height: 170px !important;
        width: 170px !important;
    }
}

.hero {
    background-color: #330032;
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
}

@keyframes swing {
    0% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

.about {
    color: #9896ca;
}

.btn {
    border-radius: 25px;
}

.laptop {
    max-width: 50%;
}

.about-border {
    border-radius: 25px;
}

.typing {
    max-width: 25px;
}

li {
    list-style: disc !important;
}

.skill-div {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: auto;
    border: 1px solid salmon;
    justify-content: center;
    display: flex;
    position: relative;
    transition: 0.6s;
}



.skill-icon {
    max-width: 90px;
    justify-content: center;
    display: flex;
    margin: auto;
    align-items: center;
}

.skill-text {
    height: 200px;
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
    color: rgb(229, 255, 0);
    vertical-align: middle;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

.skill-div:hover .skill-text {
    opacity: 1;
}

.skill-div:hover {
    background: rgba(0, 0, 0, 0.6);
}

.skill-text>* {
    transform: translateY(25px);
    transition: 0.6s;
}


.skill-text:hover>* {
    transform: translateY(0px);
}

.work {
    -webkit-box-shadow: 10px 10px 4px -5px rgba(123, 134, 219, 1);
    -moz-box-shadow: 10px 10px 4px -5px rgba(123, 134, 219, 1);
    box-shadow: 10px 10px 4px -5px rgba(123, 134, 219, 1);
    transition: 0.6s all ease-in-out;
}

.work:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

.work-img img {
    max-height: 200px;
    max-width: 100%;
    border-radius: 15px;
}


.work-text {
    height: 200px;
    padding: 10px;
}

.footer {
    background-color: rgb(26 27 86) !important;
}

.love {
    color: coral;
}

.laptop {
    background-color: #e86c2d;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    padding: 30px;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 30%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 30%;
    }
}